* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: linear-gradient(white, rgb(243, 243, 223));
}
div {
  margin: 5px;
  padding: 5px;
}
header {
}
.logo {
  margin: 5px;
  display: block;
  float: left;
}
.menu-btn {
  float: right;
  font-size: 10vw;
}
.menu-btn:hover {
  cursor: pointer;
}
nav {
  display: none;
}
main {
}
.banner {
}
.about {
}
.services {
}
.numbers {
}
.products {
}
.contact {
}
footer {
}

@media screen and (min-width: 576px) {
  .menu-btn {
    display: none;
  }
  nav {
    display: initial;
  }
}
